#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #1e4356;
  }
  
  #header.header-transparent {
    background: none;
  }
  
  #header.header-scrolled {
    background: rgba(30, 67, 86, 0.8);
    height: 60px;
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 60px;
  }
  
  #main {
    margin-top: 80px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    animation-delay: 0.8s;
    border: 2px solid #68A4C4;
  }
  
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #a2cce3;
  }

  /* Navbar links */
    .navbar a {
        text-decoration: none;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar li:hover > a {
        text-decoration: none;
    }

  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #1c3745;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #68A4C4;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(17, 38, 48, 0.9);
    transition: 0.3s;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #1e4356;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #68A4C4;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #68A4C4;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  
  .navbar-mobile .btn-get-started {
    background-color: #68A4C4;
    color: white;
    font: 20px;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /* background: rgb(209, 207, 207); */
}


.main {
    /* background: rgb(209, 207, 207); */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.sign-in {
    background: white;
    border-radius: 15px;
    height: 95vh;
    width: 95%;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
}

.sign-up {
    background: #68A4CA;
    border-radius: 200px 15px 15px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%
}

.sign-up .it {
    font-style: italic;
}
.sign-up .first_p {
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white
}

.f-got {
    text-decoration: none;
    color: #68A4CA
}


.text-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px
}

input {
    border: none;
    width: 35%;
    padding: 9px;
    background: rgb(209, 207, 207);
    border-radius: 6px;
    cursor: pointer;
    transition: border-color 0.5s ease-in-out
}

input:focus {
    border: 3px solid #68A4CA;
    outline: none;
    animation: pulse 1s infinite
}

@keyframes pulse {
    0% {
        border-color: #68A4CA;
    }

    50% {
        border-color: grey
    }

    100% {
        border-color: #68A4CA
    }
}

.para {
    font-size: 13px
}

.social {
    display: inline-block;
    width: 32px;
    height: 30px;
    border: 1px solid none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #666
}

button {
    padding: 10px;
    background: #68A4CA;
    color: white;
    border: none;
    width: 22%;
    border-radius: 10px;
    cursor: pointer;
}


.sign-up {
    flex-direction: column;
    color: white;
    gap: 20px;
}

.sgn-up {
    padding: 10px;
    background: #68A4CA;
    color: white;
    border: 1px solid white;
    width: 22%;
    border-radius: 10px;
}


hr {
    width: 50%;
    border: 1px solid white;
    margin: 10px
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .sign-in {
        height: 100vh;
        position: relative;
        width: 100%;
    }

    .sign-up {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
        border-radius: 0;
        gap: 10px;
        border-radius: 200px 200px 15px 15px
    }

    .para {
        padding: 10px;
    }

    .text-wrapper {
        margin-bottom: 400px;
        font-size: 15px;
    }

    input {
        width: 70%
    }

}